<p id="notice"><%= notice %></p>

<p>
  <strong>Sno:</strong>
  <%= @staff.Sno %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @staff.FName %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @staff.LName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.Address %>
</p>

<p>
  <strong>Tel no:</strong>
  <%= @staff.Tel_No %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.Position %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @staff.Sex %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @staff.DOB %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @staff.Salary %>
</p>

<p>
  <strong>Nin:</strong>
  <%= @staff.NIN %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @staff.Bno %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
