<div class="container">
  <h4 class="text-center">Listing branches</h4>

  <div align="right"><a href="<%= new_branch_path%>" class="btn btn-primary"><span class="fui-plus"></span> New a Branch</a></div>

  <table id="tablaDatos" class="table table-striped">
    <thead>
    <tr>
      <th>Bno</th>
      <th>Street</th>
      <th>Area</th>
      <th>City</th>
      <th>Pcode</th>
      <th>Tel no</th>
      <th>Fax no</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.Bno %></td>
          <td><%= branch.Street %></td>
          <td><%= branch.Area %></td>
          <td><%= branch.City %></td>
          <td><%= branch.Pcode %></td>
          <td><%= branch.Tel_No %></td>
          <td><%= branch.Fax_No %></td>

          <td>
            <ul class="col-md-1"><%= link_to '<span class="fui-new" aria-hidden="true"></span>'.html_safe, edit_branch_path(branch) %></ul>
            <ul class="col-md-1"><%= link_to '<span class="fui-trash" aria-hidden="true"></span>'.html_safe, branch, method: :delete, data: {confirm: 'Are you sure?'} %></ul>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>
