<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="" class="alert">
      <button class="close" data-dismiss="alert"><span class="fui-cross"></span></button>

      <h7><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h7>

      <ul>
      <% @owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
      <label class="control-label" for="inputError">Ono</label>
      <%= f.text_field :Ono, :class => "form-control" %>
    </div>
  </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">First Name</label>
        <%= f.text_field :FName, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Last Nname</label>
        <%= f.text_field :LNname, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Address</label>
        <%= f.text_field :Address, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Tel_No</label>
        <%= f.text_field :Tel_No, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">

      <div class="">
        <%= f.submit class: "btn btn-primary", value: "Submit", disable_with: 'Submitting...' %>
      </div>
    </div>
<% end %>
