<div class="container">
  <h4 class="text-center">Listing staffs</h4>
  <div align="right"><a href="<%= new_owner_path%>" class="btn btn-primary"><span class="fui-plus"></span> New a Owner</a></div>

  <table id="tablaDatos" class="table table-striped">
    <thead>
    <tr>
      <th>Ono</th>
      <th>Fname</th>
      <th>Lnname</th>
      <th>Address</th>
      <th>Tel no</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.Ono %></td>
          <td><%= owner.FName %></td>
          <td><%= owner.LNname %></td>
          <td><%= owner.Address %></td>
          <td><%= owner.Tel_No %></td>

          <td>
            <ul class="col-md-1"><%= link_to '<span class="fui-new" aria-hidden="true"></span>'.html_safe, edit_owner_path(owner) %></ul>
            <ul class="col-md-1"><%= link_to '<span class="fui-trash" aria-hidden="true"></span>'.html_safe, owner, method: :delete, data: {confirm: 'Are you sure?'} %></ul>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>


</div>