<%= form_for(@property_for_rent) do |f| %>
    <% if @property_for_rent.errors.any? %>
        <div class="alert">
          <button class="close" data-dismiss="alert"><span class="fui-cross"></span></button>

          <h7><%= pluralize(@property_for_rent.errors.count, "error") %> prohibited this property_for_rent from being
            saved:
          </h7>

          <ul>
            <% @property_for_rent.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Pno</label>
        <%= f.text_field :Pno, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Street</label>
        <%= f.text_field :Street, :class => "form-control" %>
      </div>
    </div>
    <div class="field">

      <div class="form-group">
        <label class="control-label" for="inputError">Area</label>
        <%= f.text_field :Area, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">City</label>
        <%= f.text_field :City, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">PostCode</label>
        <%= f.text_field :Pcode, :class => "form-control" %>
      </div>
    </div>

    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Type</label>
        <%= f.text_field :Type, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <label class="control-label" for="inputError">Rooms</label>
        <%= f.text_field :Rooms, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :Rent %>
      <br>
      <%= f.number_field :Rent, :class => "form-control spinner" %>
    </div>
    <div class="field">
      <%= f.label :Ono %>
      <br>
      <%= f.select :Ono, Owner.all.map { |s|
        [(s.Ono), s.Ono] }.uniq, {}, {:class => "selectpicker", :nameui => "huge"} %>
    </div>

    <div class="field" id="branch-select">
      <%= f.label :Bno %>
      <br>
      <%= f.select :Ono, Branch.all.map { |s|
        [(s.Bno), s.Bno] }.uniq, {}, {:class => "selectpicker", :nameui => "huge"} %>
    </div>

    <div class="field" id="staff-field">
      <%= f.label :Sno %>
      <br>
      <%= f.select :Sno, Staff.all.map { |s|
        [(s.Sno), s.Sno] }.uniq, {}, {:class => "selectpicker", :nameui => "huge"} %>

    </div>

    <div class="form-group">

      <div class="">
        <%= f.submit class: "btn btn-primary", value: "Submit", disable_with: 'Submitting...' %>
      </div>
    </div>
<% end %>

