<p id="notice"><%= notice %></p>

<p>
  <strong>Pno:</strong>
  <%= @property_for_rent.Pno %>
</p>

<p>
  <strong>Street:</strong>
  <%= @property_for_rent.Street %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property_for_rent.Area %>
</p>

<p>
  <strong>City:</strong>
  <%= @property_for_rent.City %>
</p>

<p>
  <strong>Pcode:</strong>
  <%= @property_for_rent.Pcode %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property_for_rent.Type %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property_for_rent.Rooms %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property_for_rent.Rent %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @property_for_rent.Ono %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @property_for_rent.Sno %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @property_for_rent.Bno %>
</p>

<%= link_to 'Edit', edit_property_for_rent_path(@property_for_rent) %> |
<%= link_to 'Back', property_for_rents_path %>
