<style>
    body {
        min-height: 2000px;
        padding-top: 70px;
    }


</style>

<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to "DreamHouse", root_url %></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Branch", branches_url %></li>
        <li><%= link_to "Staff", staffs_url %></li>
        <li><%= link_to "Property_for_rents", property_for_rents_url %></li>
        <li><%= link_to "Client", clients_url %></li>
        <li><%= link_to "Owner", owners_url %></li>
        <li><%= link_to "Viewing", viewings_url %></li>
        <li align="right"><a href="http://ie.linkedin.com/pub/mingqian-gao/8b/48/a15/" class="btn btn-default btn-sm btn-social-linkedin">
          <span class="fui-linkedin"></span>
          <span class="btn-tip">Mingqian Gao</span>
        </a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>



